/*
 *  Colors
 * color: rgba(47,180,47,1)
 * color: rgba(117,234,117,1)
 * color: rgba(6,72,6,1)
 * accent rgba(255,172,35,1)
*/


/*
 * Reset
 * =============
 * I like to make my own resets and tweak it a little based on each project.
 */

*, *::before, *::after {
  box-sizing: border-box;
}

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0; padding: 0; border: 0; outline: none;
}

body {
  line-height: 1;
  font-size: 16px;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  padding: .6rem 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 *  Font sizes
 */
h1 {
  font-size: 1.728rem;
}

h2{
  font-size: 1.2rem;
}

/*
 *  Colors
 */
html {
  color: black;
  background-color: white;
}

a {
  color: rgba(117,234,117,1);
}

a:hover {
  color: rgba(47,180,47,1);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(6,72,6,1);
}

.nav-list {
  background: rgba(117,234,117,1);
}

.nav-list a {
  color: black;
}

.nav-big .nav-accent {
  color: rgba(6,72,6,1);
}

.nav-list .nav-accent {
  font-weight: bold;
}

.hero-header h1 {
    color: white;
}

.hero-social a:hover {
  color: rgba(117,234,117,1);
}

.feat {
  background: rgba(6,72,6,1);
  color: white;
}

.feat h1, .feat h2 {
  color: white;
}

.btn {
  color: black;
  background: rgba(117,234,117,1);
}

.btn:hover {
  color: black;
  text-decoration: none;
  background: rgba(47,180,47,1);
}

.hero-social a {
  color: white;
}

.subscribe h1 {
  color: white;
}

.cta {
  background: rgba(255, 172, 35, 1);
}

.cta h1, .cta h2 {
  color: black;
}

.footer-main {
  background: #BBB;
}

.footer a {
  color: rgba(6,72,6,1);
}
