/*
 * Reset
 * =============
 * I like to make my own resets and tweak it a little based on each project.
 */

*, *::before, *::after {
  box-sizing: border-box;
}

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0; padding: 0; border: 0; outline: none;
}

body {
  line-height: 1;
  font-size: 16px;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  padding: .6em 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;            /* AJUSTAR */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
