/*
 * Main flexbox system and layout main rules
 */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.col {
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .flex {
    display: block;
  }
}

/*
 *  Hero
 */

.hero {
  height: 100vh;
  background-image: url(../img/family.jpg);
  background-position: bottom center;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 5vmin;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 15vmin;
  max-width: 100px;
  height: auto;
}

/*
 *  Navigation bar
 */

.nav-list {
  position: absolute;
  height: 100vh;
  background: rgba(38, 22, 38, 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all ease-in-out 250ms;
  z-index: 1;
}

.is-open {
  left: 0;
}

.nav-list li {
  display: flex;
  flex: 1 1 auto;
}

.nav-list li a {
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.nav-list li a:hover {
  background: rgba(0, 0, 0, .15);
}

#hamburguer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 10px 25px 15px 25px;
  cursor: pointer;
  z-index: 2;
}

/*
 *  Hero Header
 */

.hero-header h1 {
  font-size: 2.488rem;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  font-weight: 400;
}

.hero-header p:not(:last-child) {
  display: block;
  font-size: 1.2em;
  text-shadow: 1px 1px black;
  padding: 0 20px;
}

.hero-header a {
  margin-top: 20px;
}

/*
 *  Hero Social Media
 */

.hero-social {
  position: absolute;
  right: 0;
  bottom: 3vh;
  font-size: 2rem;
}

.hero-social li {
  padding: 0 0.8rem 0.3rem 0;
}

/*
 *   Features
 */

.feat {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 450px;
}

.feat-icon {
  font-size: 3rem;
  padding-bottom: 10px;
}

/*
 *   Community
 */

.community article {
  order: 1;
}

.community img {
  text-align: left;
}

/* Subscribe */

.subscribe {
  min-height: 350px;
  background-image: url(../img/camera.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.subscribe h1 {
  font-size: 1.2rem;
  padding-bottom: 25px;
}

.subscribe .btn {
  font-size: 2.5rem;
  width: 50px;
  padding: 0.5px 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.subscribe-form {
  position: relative;
  margin: 0 auto;
  height: 50px;
  width: 230px;
}

.subscribe-mail {
  height: 50px;
  width: 180px;
}

/* Download */

.cta {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta h1, .cta p {
  display: block;
}

.cta-container {
  margin: auto;
  width: 95%;
  display: flex;
}

.cta header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.cta-col {
  flex: 1 1;
}

/* Footer */

.footer-main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 25px;
  min-height: 300px;
  max-height: 500px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav li {
  padding: 8px;
  border-right: 1px solid rgba(0, 0, 0, .15);
}

.footer-main .container {
  padding-top: 10px;
  max-height: 2rem;
}

.footer-text {
  text-align: left;
  max-width: 25%;
}

.footer-logo {
  width: 12vmin;
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}


/* Media queries */

@media only screen and (min-width: 700px) {
  .about img {
    max-height: 600px;
    padding-top: 35px;
  }
}
