/*
 * Main flexbox system and layout main rules
 */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 100%;
}

.col .col--full {
  flex: 0 0 100%;
}

/*
 *  Hero
 */

.hero {
  height: 100vh;
  background-image: url(../img/family.jpg);
  background-position: bottom center;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 5vmin;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 15vmin;
  max-width: 100px;
  height: auto;
}

/*
 *  Navigation bar
 */

.nav-accent {
  color: orange;
}

.nav-list {
  position: absolute;
  height: 100vh;
  background: rgba(38, 22, 38, 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all ease-in-out 250ms;
  z-index: 1;
}

.is-open {
  left: 0;
}

.nav-list li {
  display: flex;
  flex: 1 1 auto;
}

.nav-list li a {
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.nav-list li a:hover {
  background: rgba(0, 0, 0, .15);
}

#hamburguer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 2;
}

/*
 *  Hero Header
 */



.hero-header h1 {
  font-size: 2.986rem;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  font-weight: 400;
}

.hero-header p {
  display: block;
  font-size: 1.2em;
  text-shadow: 1px 1px black;
  padding: 0 30px;
}

.hero-header a {
  margin-top: 20px;
}

/*
 *  Hero Social Media
 */

.hero-social {
  position: absolute;
  right: 0;
  bottom: 3vh;
  font-size: 2rem;
}

.hero-social li {
  padding: 0 0.8em 0.3em 0;
}
