
/* Buttons */

.btn {
  display: inline-block;
  padding: 15px 25px;
}

/* Prevent inconvenient line breaks */
.nobreak {
  display: inline-block;
}

/* Article */

.m-article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 300px;
}


.m-article p {
  padding: 10px 25px 25px 25px;
}

.m-article-img {
  max-height: 500px;
  min-height: 300px;
  object-fit: cover;
  vertical-align: bottom;
}

@media only screen and (min-width: 700px) {
  .m-article-img {
    max-height: none;
  }
}

.m-article a {
  display: block;
  margin: 0 auto;
}

/* Sales points */
.m-sales-container {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
}

.m-sales-points {
  max-width: 30%;
  margin: 15px 35px;
}

@media only screen and (max-width: 700px) {
  .m-sales-points {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}

.m-sales-points .btn {
  margin: 10px;
}
